<ion-header>
  
  <!-- <p class="status"> {{ 'Homepage_Hi' | translate }} ,  {{loginstatus}} &nbsp;&nbsp; | <a *ngIf="loginstatus == 'Guest'" href="#">{{ 'Homepage_login' | translate }}</a><a (click)="dologout()" *ngIf="loginstatus != 'Guest'" href="">&nbsp;&nbsp;{{ 'Homepage_logout' | translate }}</a></p> -->
</ion-header>
<!-- <ion-content>
  <img src="../../assets/imgs/imgfirst.PNG">
</ion-content> -->
<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Home" tabIcon="md-home"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Hot offer" tabIcon="md-cash"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="My Cart" tabIcon="md-cart"></ion-tab>
  <ion-tab [root]="tab5Root" tabTitle="Search" tabIcon="ios-search-outline"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Profile" tabIcon="ios-person"></ion-tab>
</ion-tabs>
